/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

@keyframes increaseInHeartSize {
  0% {
    scale: 1;
  }
  100% {
    scale: 1.25;
  }
}

@keyframes appearanceOfSparks {
  0% {
    fill: transparent;
  }
  100% {
    fill: var(--like-color);
  }
}

.core,
.main-body,
.sparks {
  fill: transparent;
}

.core {
  transition: fill linear var(--animation-time) 0.03s;
}

.main-body {
  transition: fill linear var(--animation-time);
}

.contour {
  transition: fill linear 0.1s;
}

.card__icon-button:hover .core {
  fill: var(--decor-color);
  transition: fill linear var(--animation-time);
}

.card__icon-button:hover .main-body {
  fill: var(--decor-color);
  transition: fill linear var(--animation-time) 0.05s;
}

.card__icon-button:active .core {
  fill: var(--like-color);
  transition: fill linear var(--animation-time);
}

.card__icon-button:active .main-body {
  fill: var(--like-color);
  transition: fill linear var(--animation-time) 0.05s;
}

.like-icon.is-liked {
  animation: 1 ease-in var(--animation-time) 0.1s alternate IncreaseInHeartSize;
}

.like-icon.is-liked .main-body {
  fill: var(--like-color);
  transition: fill linear var(--animation-time) 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--like-color);
  transition: fill linear var(--animation-time);
}

.like-icon.is-liked .sparks {
  animation: 1 ease-in var(--animation-time) var(--animation-time) appearanceOfSparks;
}

.like-icon.is-liked .contour {
  fill: var(--like-color);
  transition: fill linear var(--animation-time) 0.06s;
}
